<div class="form-container mat-typography">

  <h2>Editar Estado</h2>

  <div class="table-header">

    <form [formGroup]="stateForm" class="form" novalidate>
      <mat-form-field>
        <input matInput type="text" placeholder="Nombre de estado" formControlName="name" required>
        <mat-error *ngIf="name.invalid && (name.dirty || name.touched)">
          Nombre <strong>obligatorio</strong>
        </mat-error>
      </mat-form-field>

      <div class="spacer"></div>
      <div class="button-row">
        <button mat-raised-button color="primary" type="submit" (click)="save()" [disabled]="stateForm.invalid">Guardar</button>
        <button mat-raised-button color="primary" type="reset" (click)="cancel()">Cancelar</button>
      </div>
    </form>

  </div>

</div>
